{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Cервис управления рассылками</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<style>
        body {
            background-image: url("{% static 'media/background.jpg' %}");
        }
    </style>
{% include 'service/includes/main-menu.html' %}
{% block content %}
{% endblock %}


<div class="'container">
    <table class="table-primary">
        {% for object in list_object %}
        <tr>
            <td>object.name</td>
            <td>object.title</td>
        </tr>
        {% endfor%}
    </table>
</div>


</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>